@use "./abstract/" as *;
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');


body,
html {
    background-color: map-get($map: $colors, $key: "light-gray");
    font-family: 'Karla', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .app {
        width: 310px;
        display: grid;
        grid-template-columns: 310px;
        grid-template-rows: 270px 230px 230px;
        align-items: stretch;

        main {
            background-color: map-get($map: $colors, $key: "white");
            padding: $base-padding*2;
            border-radius: 8px 8px 0 0;
            display: flex;
            flex-direction: column;
            justify-content: center;

            article {
                h2 {
                    color: map-get($map: $colors, $key: "bright-yellow");
                }
            }
        }

        .action {
            background-color: map-get($map: $colors, $key: "cyan");
            padding: $base-padding*2;
            display: flex;
            flex-direction: column;
            justify-content: center;

            div {
                display: flex;
                align-items: center;

                b {
                    color: map-get($map: $colors, $key: "white");
                    font-size: 2rem;
                    font-weight: $base-weight-normal;
                }

                span {
                    margin: 0 0.6rem;
                    color: map-get($map: $colors, $key: "light-gray");
                    opacity: 0.6;
                    font-size: 0.9rem;
                }
            }

            button {
                color: map-get($map: $colors, $key: "light-gray");
                border: 0;
                background-color: map-get($map: $colors, $key: "bright-yellow");
                padding: $base-padding $base-padding;
                width: 100%;
                border-radius: 5px;
                box-shadow: -1px 1px 15px -2px rgba(0, 0, 0, 0.68);
                cursor: pointer;
                margin-top: 1rem;
            }
        }

        .info {
            background-color: map-get($map: $colors, $key: "cyan");
            opacity: 0.8;
            padding: $base-padding*2;
            border-radius: 0 0 8px 8px;
        }



    }
}