//colors: 
$colors: (
    "cyan": hsl(179, 62%, 43%),
    "bright-yellow": hsl(71, 73%, 54%),
    "light-gray": hsl(204, 43%, 93%),
    "grayish-blue": hsl(218, 22%, 67%),
    "white":hsl(225, 100%, 100%),
);

//spacing:
$base-padding: 0.75rem;
$base-margin: 0.75rem;

//fonts:
$fonts: (
    "h1": 1.1rem,
    "h2": 1rem,
    "h3": 0.9rem,
    "p": 0.8rem,
    "pre": 0.8rem
);

$base-weight-normal: 400;
$base-weight-bold: 700;